ul {
    list-style-type: none;
   }
li {
    text-align: left;
}

.quote { 
    margin: 0;
 }

 .factionView {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    min-height:89vh;
 }

 h3{
    text-align: center;
 }
 .col-lg-4, .col-md-6{
    display: flex;
    width: 100%;
 }

 .skillTile {
    width: 100%;
 }

 .accordion {
   background-color: transparent !important;
   background: transparent !important;
   --bs-accordion-bg: transparent !important;
   --bs-accordion-border-color: none !important;
 }

 .accordion-button {
   background-color: transparent !important;
   background: transparent !important;
 }
.accordion-header {
   border: none !important;
}
.accordion-body {
   border: none !important;
}
 .accordion-item {
   border: none !important;
 }