 .factionView {
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: contain;
   min-height:89vh;
}

.factionView  ul {
    list-style-type: none;
   }
   .factionView  li {
    text-align: left;
}

.factionView  .quote { 
    margin: 0;
 }


 .factionView .col-lg-4, .col-md-6{
    display: flex;
    width: 100%;
 }

  .factionView .skillTile {
    width: 100%;
 }

 .factionView .accordion {
   background-color: transparent !important;
   background: transparent !important;
   --bs-accordion-bg: transparent !important;
   --bs-accordion-border-color: none !important;
 }

 .factionView .accordion-button {
   background-color: transparent !important;
   background: transparent !important;
   display: inline-block !important;
 }
 .factionView .accordion-button:focus{
   box-shadow:none !important;
 }
 .factionView .accordion-button:not(.collapsed){
   color: darkred !important;
 }

 .factionView .accordion-header {
   border: none !important;
}
 .factionView .accordion-body {
   border: none !important;
}
.factionView .accordion-item {
   border: none !important;
 }