ul {
    list-style-type: none;
   }
li {
    text-align: left;
}

.quote { 
    margin: 0;
 }

 .factionView {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
 }

 h3{
    text-align: center;
 }
 .col-lg-4, .col-md-6{
    display: flex;
    width: 100%;
 }

 .skillTile {
    width: 100%;
 }