table {
   border: none; 
   border-collapse: collapse;
   text-align: center;
   width: 100%;
   }
table td {
   border-left: 1px solid #000; 
  }
table td:first-child {
   border-left: none; 
  }
table tr { 
  border: solid;
  border-width: 1px 0;
}
table tr:first-child {
  border-top: none; 
 }
table tr:last-child {
  border-bottom: none; 
 }
h1{ 
  text-align: center;
}
h2{ 
  text-align: center;
}

body { padding-top: 70px; }