

.weaponsBlock .skillName {
    margin: 0px;
}

.weaponsBlock .bold {
    font-weight: bold;
}

.weaponsBlock {
    text-align: center;
}

ul {
    list-style-type: none;
   }
li {
    text-align: left;
}